{#  
            \\\||||||////
             \\  ~ ~  //
              (  @ @  )
___________ oOOo-(_)-oOOo________________
.......
....... 2021-2022 - Mini projet Framework Symfony - ReactJS
.......
....... @author Mathis QUEMENER (mathis.quemener@isen-ouest.yncrea.fr) - Clément YZIQUEL (clement.yziquel@isen-ouest.yncrea.fr)
....... 
....... @version 1.0
....... 
....... Affiche un élément de la table espece
.......
__________________Oooo.__________________
         .oooO    (   )
         (   )     ) /
          \ (     (_/
           \_)

#}

{% extends 'base.html.twig' %}

{% block title %}Espece{% endblock %}

{% block body %}
    <h1>Espece</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espece.id }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ espece.espece }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('espece_index') }}">Retour à la liste</a>

    <a href="{{ path('espece_edit', {'id': espece.id}) }}">Modifier</a>

    {{ include('espece/_delete_form.html.twig') }}
{% endblock %}
